<?xml version="1.0" ?>
<launch>
<arg name="robot" default="fr3" />
<arg name="arm_id" default="fr3" />
<arg name="use_rviz" default="True" />

<group if="$(arg real_robot)">
      <include file="$(find panda_moveit_config)/launch/franka_control.launch" >
        <arg name="robot_ip" value="192.168.0.200" />
      </include>
</group>
<group unless="$(arg real_robot)">
  <include file="$(find panda_moveit_config)/launch/demo.launch" >
        <arg name="robot_ip" value="192.168.0.200" />
        <arg name="robot" value="fr3" />
        <arg name="real_robot" value="false" />

      </include>


</group>
</launch>

